.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
src-capacitor/android/app/capacitor.build.gradle
src-capacitor/android/app/src/main/assets/capacitor.config.json
src-capacitor/android/app/src/main/res/xml/config.xml
src-capacitor/android/capacitor.settings.gradle
src-capacitor/capacitor.config.json
src-capacitor/package.json
pocketbase_0.11.2_windows_amd64/pb_data/data.db
pocketbase_0.11.2_windows_amd64/pb_data/data.db-shm
pocketbase_0.11.2_windows_amd64/pb_data/data.db-wal
pocketbase_0.11.2_windows_amd64/pb_data/logs.db
pocketbase_0.11.2_windows_amd64/pb_data/logs.db-shm
pocketbase_0.11.2_windows_amd64/pb_data/logs.db-wal
